<!doctype html>
<head>
    <link rel="stylesheet" href="CSS/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="favicon.ico?v="+ Math.trunc(Math.random()*999)>
    <title>Guard Commander's Aide</title>
</head>
<body>
<div id = main>

    <div id="leftSection">
        <p id = mainTitle>The <br> Guard Commander's <br>Aide</p>
    </div>
    <div id = logoImgContainer >
        <img id="loginLogoImg" src="images/chevron.png" alt="">

        <form action="/home" method="POST" class = loginForm>
            <input type="email" name="username" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign in</button>
        </form>
    </div>
    <div >
        <img id = "regimentLogo" src="images/regiment.png" alt="Regiment Logo">
    </div>
        <p id = login>Login</p>
    <a href="#"><p id = forgotPass><em>Forgot Password?</em></p></a>
    <a href="/register"><p id = regBtn>Register</p></a>

    <!-- Makes a POST request to /register route-->




    <p id = statement><em>Enhancing the Professional you already are</em></p>
</div>

</body>
