
<%- include('partials/header'); -%>
<body>


<h1>Secrets Page</h1>
    <div id = headerContent>

    </div id = mainContent>

    <div>

    </div>




<%- include('partials/footer'); -%>








<a href="/logout">Log Out</a>