
<%- include('partials/header'); -%>




    <div id = mainContent>

    </div>

    <div id = nameSection>
        <h1 id = GC>GUARD <BR>COMMANDER</h1>

        <a href="/logout">Log Out</a>

    </div>

    <div id = gcName>
        <p ><%= fName + " " + lName %> </p>
    </div>

    <div id = leftNav>

    </div>



<%- include('partials/footer'); -%>








